
ProjectBoost/Library/

ProjectBoost/Temp/

ProjectBoost/Logs/

ProjectBoost/obj/Debug/
ProjectBoost/.vs/

Argon Assault/Library/

Argon Assault/Temp/

Argon Assault/Logs/
Argon Assault/Assets/epyphany/

Argon Assault/Assets/SkyBox Volume 2/

Argon Assault/Assets/StarSparrow/
